.container.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 80%;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#loginForm label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
}

#loginForm input[type="checkbox"] {
  margin-right: 5px;
}

#loginForm button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#loginForm button[type="submit"]:hover {
  background-color: #3e8e41;
}

.container.login p {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.container.login p .delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container.login p {
    width: calc(100% - 40px);
  }
}
