.newAdvertContainer {
  margin: 20px auto 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

input[type="text"],
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

label input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 12px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

input:required:invalid {
  border-color: red;
}
