* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  text-align: center;
}

.container.login {
  border: 2px solid red;
}

img {
  height: 200px;
}

a:link {
  color: #000000; /* Color normal del enlace */
  text-decoration: none; /* Quita la subrayado del enlace */
}

a:visited {
  color: #000000; /* Mantener el color del enlace después de ser clicado */
}