* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  text-align: center;
}

img {
  height: 200px;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}
